<style type="text/css">
  body { background-color: white; height: 100%; margin: 0; padding: 0; }
  #container { min-width: 425px; max-width: 850px; height: 235px; display: block; position:absolute; bottom:0; top:0; left:0; right:0; margin: 5px 15px 15px 0; overflow: hidden; }
  #loading { position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; }
</style>
